.header {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.logo-container {
  width: 50%; /* 15% */
  display: flex;
  align-items: center;
}

.menu {
  width: 50%; /* 85% */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.full-menu {
  display: flex;
  margin: 10px 0;
  display: none;
}

.left,
.right {
  display: inherit;
  width: 50%;
  font-size: .6em;
  font-weight: 600;
  list-style: none;
  color: var(--GrayViolet)
}

.left li,
.right li {
  padding-right: 24px;
}

.right {
  justify-content: right;
}

.right li:nth-child(2) {
  padding-right: 0;
}

.hamburger {
  width: 24px;
  height: 21px;
  display: block; /* Mark as 'none' for full size */
}

.hamburger-lines {
  display: block;
  background-color: var(--GrayViolet);
  height: 3px;
  width: 100%;
  margin-bottom: 6px;
}

.menu-bottom {
  margin-bottom: 0;
}